.app-layout {
  max-width: 860px;
  margin: auto;
  background-color: #f0f1f2;
  height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  box-shadow: 0 2px 8px #f0f1f2;
}

.app-header-content {
  display: flex;
  justify-content: space-between;
}

.app-header-content h1 {
  margin-bottom: 0;
  padding: 0 20px;
}
